* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.App {
  background-color: burlywood;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.login-label {
  width: fit-content;
}

.banner-img {
  height: 30vh;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #490e01;
}

.header-nav {
  background-color: #490e01;
}

.container {
  margin-bottom: 4.5%;
}
